<el-dialog :title="title" :visible.sync="dialogFormCreateProduct" class="form-label">
    <div class="row width-form">
        <div class="col-lg-12">
            <el-button class="float-right btn-margin" type="info" size="small" plain round><i class="fas fa-question-circle"></i> Hướng dẫn</el-button>
            <el-button class="float-right" @click="clickBtnSettingForm()" type="info" size="small" :style="'color: '+ textSettingcolor + '; background-color: '+ bgSettingcolor + ';'"  plain round><i class="fas fa-cog"></i> Cài đặt</el-button>
            <el-button class="float-right" type="info" size="small" plain round><i class="fas fa-upload"></i> Tải lên</el-button>
            <el-button class="float-right" @click="clickBtnCreateAPI()" type="info" size="small" :style="'color: '+ textAPIcolor + '; background-color: '+ bgAPIcolor + ';'" plain round><i class="fab fa-adn"></i> Thêm API</el-button>
            <el-button class="float-right" @click="clickBtnCreate()" type="info" size="small" :style="'color: '+ textcolor + '; background-color: '+ bgcolor + ';'" plain round><i class="fas fa-plus"></i> Thêm sản phẩm</el-button>
        </div>
    </div>
    <div v-if="isCreate == true" v-loading="loadingForm">
        {{> product/createForm}}
    </div>
    <div v-if="isCreateAPI == true" v-loading="loadingForm">
        {{> product/createAPI}}
    </div>
    <div v-if="isSettingForm == true" v-loading="loadingForm">
        {{> product/settingForm}}
    </div>
</el-dialog>