<el-form :label-position="labelposition" :model="createAPIForm" :rules="apiValidate" ref="createAPIForm" label-width="120px" class="demo-ruleForm">
    <div class="col-lg-5">
        {{> instruct/product/collapse}}
    </div>
    <div class="col-lg-7">
        <el-form-item label="Đường Dẫn">
            <el-input v-model="createAPIForm.link" placeholder="Vui lòng nhập đường dẫn"></el-input>
        </el-form-item>
        <el-form-item label="Tài Khoản">
            <el-input v-model="createAPIForm.user" placeholder="Vui lòng nhập tên tài khoản"></el-input>
        </el-form-item>
        <el-form-item label="Mật Khẩu">
            <el-input v-model="createAPIForm.password" show-password placeholder="Vui lòng nhập mật khẩu"></el-input>
        </el-form-item>
        <el-form-item label="Key API">
            <el-input v-model="createAPIForm.key" show-password placeholder="Vui lòng nhập mã key API"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="createAPIProduct('createAPIForm')">Thêm Sản Phẩm</el-button>
            <el-button @click="resetForm('createAPIForm')">Reset</el-button>
        </el-form-item>
        <el-card shadow="hover" v-if="isProgressCreateAPI == true">
            <el-progress :text-inside="true" :stroke-width="22" :percentage="progress" status="warning"></el-progress>
            <el-table stripe v-loading="loadingTable" :data="listData.indexTableAPI" style="width: 100%">
                <el-table-column prop="userId" label="User ID"></el-table-column>
                <el-table-column prop="id" label="ID"></el-table-column>
                <el-table-column prop="title" label="Title"></el-table-column>
                <el-table-column prop="body" label="Body"></el-table-column>
            </el-table>
        </el-card>
    </div>
</el-form>