<el-collapse v-model="activeCollapse" @change="handleChange">
    <el-collapse-item title="Cơ Chế Hoạt Động" name="1">
        <div>
            <b>Bên đối tác: </b> Cung cấp đường dẫn, tài khoản đường dẫn, mật khẩu đường dẫn và key hoạt động đường dẫn.
        </div>
        <div>
            <b>Bên ta: </b> Nhập dữ liệu đã được cung cấp và "Chấp nhận thêm dữ liệu"
        </div>
    </el-collapse-item>
    <el-collapse-item title="Kiểu Dữ Liệu API" name="2">
        <b>name</b> : Kiểu chữ (String) <br/>
        <b>code</b> : Kiểu chữ (String) <br/>
        <b>image</b> : Kiểu chữ (String) <br/>
        <b>category</b> : Kiểu chữ (String) <br/>
        <b>price</b> : Kiểu chữ (String) <br/>
        <b>view</b> : Kiểu số (Number) <br/>
        <b>describe</b> : Kiểu chữ (String) <br/>
        <b>content</b> : Kiểu chữ (String) <br/>
        <b>datecreate</b> : Kiểu chữ (String) <br/>
        <b>datemodified</b> : Kiểu chữ (String) <br/>
        <b>usercreate</b> : Kiểu chữ (String) <br/>
        <b>usermodified</b> : Kiểu chữ (String) <br/>
        <b>active</b> : Kiểu đúng sai (Boolean) <br/>
        <b>bin</b> : Kiểu đúng sai (Boolean) <br/>
        <b>follow</b> : Kiểu đúng sai (Boolean) <br/>
        <b>note</b> : Kiểu chữ (String) <br/>
    </el-collapse-item>
    <el-collapse-item title="Kiểu Trả Về" name="3">
        <div>
            <b>True: </b> Thành công
        </div>
        <div>
            <b>False: </b> Không thành công
        </div>
    </el-collapse-item>
</el-collapse>