<el-form :label-position="labelposition" :model="productForm" :rules="productValidate" ref="productForm" label-width="120px" class="demo-ruleForm">
    <div class="row">
        <div class="col-lg-4">
            <el-form-item label="Ảnh sản phẩm" enctype="multipart/form-data">
                <el-input @change="uploadimage('productForm')" type="file" v-model="productForm.image" placeholder="Vui lòng chọn ảnh sản phẩm"></el-input>
            </el-form-item>
            <center>
                <img class="img-upload" :src="imageUpload" alt="" srcset="">
                <el-button @click="deleteUploadImage('productForm.image')" type="danger" size="mini" round v-if="isUploadImage == true">
                    <i class="fas fa-times-circle"></i> Xoá Hình Ảnh
                </el-button>
            </center>
            <el-form-item label="Slider ảnh"> 
                <el-upload
                    class="upload-demo"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :file-list="fileList"
                    list-type="picture">
                    <el-button size="small" type="primary">Vui lòng chọn ảnh</el-button>
                    <div slot="tip" class="el-upload__tip">Ảnh nên là file jpg/png và không vượt quá 500kb</div>
                </el-upload>
            </el-form-item>
        </div>
        <div class="col-lg-8">
            <el-form-item label="Mã sản phẩm" prop="code">
                <el-input v-model="productForm.code" placeholder="Vui lòng nhập mã sản phẩm" maxlength="10" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="Tên sản phẩm" prop="name">
                <el-input v-model="productForm.name" placeholder="Vui lòng nhập tên sản phẩm" maxlength="200" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="Danh mục">
                <el-select class="w-100" v-model="productForm.category" multiple placeholder="Chọn danh mục">
                    <el-option
                    v-for="item in listData.optionsCategory"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <div class="row">
                <div class="col-lg-6">
                    <el-form-item label="Giá sản phẩm" prop="price">
                        <el-input v-model="productForm.price" maxlength="50" show-word-limit></el-input>
                    </el-form-item>
                    <el-tag type="info">Tổng tiền (Bao gồm phần trăm giảm giá): <span class="text-danger" v-text="sumMoney('productForm')"></span></el-tag>
                </div>
                <div class="col-lg-6">
                    <el-form-item label="Phần Trăm Giảm Giá" prop="percentDiscount">
                        <el-input v-model="productForm.percentDiscount" maxlength="3" show-word-limit></el-input>
                    </el-form-item>
                </div>
            </div>
            <el-form-item label="Mô tả" prop="describe">
                <el-input type="textarea" v-model="productForm.describe" maxlength="500" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="Nội dung">
                <el-input type="textarea" v-model="productForm.content"></el-input>
            </el-form-item>
            <el-form-item label="Lượt xem">
                <el-input-number v-model="productForm.view" @change="handleChangeView" :min="1"></el-input-number>
            </el-form-item>
            <el-form-item label="Tình trạng">
                <el-switch v-model="productForm.active"></el-switch>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="createProduct('productForm')"><i class="fas fa-save"></i> Thêm Sản Phẩm</el-button>
                <el-button @click="resetProductForm('productForm')"><i class="fas fa-sync"></i> Làm Mới</el-button>
            </el-form-item>
        </div>
    </div>
</el-form>